<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Pass all requests through to the Java process (Spring Boot) -->
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified"/>
    </handlers>

    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                  arguments="-Xms256m -Xmx512m -jar &quot;%HOME%\site\wwwroot\tapo-backend.jar&quot;"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\stdout"
                  startupTimeLimit="120"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%"/>
      </environmentVariables>
    </httpPlatform>

    <!-- Allow all HTTP methods (GET, POST, PUT, PATCH, DELETE, OPTIONS) -->
    <security>
      <requestFiltering allowDoubleEscaping="false">
        <verbs allowUnlisted="true"/>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
